#theButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
}
#theButton:hover:enabled,
#theButton:focus:enabled {
  background-color: #45a049;
}
#gameOver {
    color: red;
}
body {
    background-color: #222222;
    color: #ffffff;
}